[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/unpacker"]
	path = external/unpacker
	url = https://github.com/JPETTomography/j-pet-unpacker.git
